.root {
    -fx-background-color: "black";
}

.label {
    -fx-text-fill: white;
}

.button {
    -fx-background-color: #4CAF50; /* Green */
    -fx-text-fill: white;
    -fx-padding: 10 20 10 20;
    -fx-font-size: 14px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}